$yellow: #eeb828;
$white: #deddd7;

@font-face {
  font-family: BRITANIC;
  src: url(../fonts/BRITANIC.ttf);
}

@font-face {
  font-family: Bahnschrift;
  src: url(../fonts/Bahnschrift.ttf);
}


html, body {
background-color: #27262b !important;
}

.main_border__white {
  border-style: solid;
  border-width: 2px;
  border-color: #f0eee8;
  width: 100%;
height: 100%;
position: fixed;
z-index: 3;
}

.large-header {
  position: absolute;
  width: 100%;

/* position: relative;
width: 100%;  */
background: #333;
overflow: hidden;
background-size: cover;
background-position: center center;
z-index: 1;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}

.resume__background_image {
  width: 100%;
  position: fixed;
}

/*необходимые елементы выше */
