@charset "UTF-8";
@font-face {
  font-family: BRITANIC;
  src: url(../fonts/BRITANIC.ttf); }

@font-face {
  font-family: Bahnschrift;
  src: url(../fonts/Bahnschrift.ttf); }

html, body {
  background-color: #27262b !important; }

/*необходимые елементы выше */
.main_border_white {
  border-style: solid;
  border-width: 2px;
  border-color: #f0eee8;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3; }

.start__background_wallpaper {
  position: absolute;
  width: 100%; }

.start__background_image {
  width: 100%; }

.main_width {
  width: 100% !important;
  max-width: 1600px !important;
  position: relative;
  top: 15px;
  padding-left: 3% !important; }

.title_text__main_block {
  width: 100%;
  max-width: 500px; }

.title_text__hello {
  font-family: "BRITANIC", sans-serif;
  color: #eeb828;
  font-size: 170px; }

.title_text__hello2 {
  font-family: "Bahnschrift", sans-serif;
  color: #deddd7;
  font-size: 35px;
  position: relative;
  top: -50px; }

.main_width2 {
  width: 100% !important;
  max-width: 1600px !important;
  position: relative;
  margin-top: 100px;
  padding-left: 3% !important; }

.title_text__main_name {
  width: 100%;
  max-width: 1000px; }

.title_text__name2 {
  font-family: "BRITANIC", sans-serif;
  color: #eeb828;
  font-size: 80px; }

.title_text__name1 {
  font-family: "Bahnschrift", sans-serif;
  color: #deddd7;
  font-size: 38px;
  position: relative;
  top: 30px; }

.title_text__name3 {
  font-family: "Bahnschrift", sans-serif;
  color: #deddd7;
  font-size: 46px;
  position: relative;
  top: -20px; }

.main_width3 {
  width: 100% !important;
  max-width: 1600px !important;
  position: relative;
  margin-top: -10px;
  padding-left: 3% !important; }

.title_text__main_job {
  width: 100%;
  max-width: 1000px; }

.title_text__job2 {
  font-family: "BRITANIC", sans-serif;
  color: #eeb828;
  font-size: 80px; }

.title_text__job1 {
  font-family: "Bahnschrift", sans-serif;
  color: #deddd7;
  font-size: 38px;
  position: relative;
  top: 30px; }

.title_text__job3 {
  font-family: "Bahnschrift", sans-serif;
  color: #deddd7;
  font-size: 46px;
  position: relative;
  top: -30px;
  margin-bottom: -21px; }

.main_width4 {
  width: 100% !important;
  max-width: 1600px !important;
  position: relative;
  margin-top: -10px;
  padding-left: 3% !important; }

.title_text__main_web_page {
  width: 100%;
  max-width: 1000px;
  margin-top: 111px; }

.title_text__page2 {
  font-family: "BRITANIC", sans-serif;
  color: #eeb828;
  font-size: 70px;
  position: relative;
  margin-top: -62px; }

.title_text__page3 {
  font-family: "Bahnschrift", sans-serif;
  color: #deddd7;
  font-size: 46px;
  position: relative;
  top: -30px;
  margin-bottom: -21px; }

.main_width5 {
  width: 100% !important;
  max-width: 1600px !important;
  position: relative;
  margin-top: -10px;
  padding-left: 3% !important; }

.title_text__main_web_uses {
  width: 100%;
  max-width: 1000px;
  margin-top: 111px; }

.title_text__uses2 {
  font-family: "BRITANIC", sans-serif;
  color: #eeb828;
  font-size: 70px;
  position: relative;
  margin-top: -62px; }

.title_text__uses3 {
  font-family: "Bahnschrift", sans-serif;
  color: #deddd7;
  font-size: 46px;
  position: relative;
  top: -30px;
  margin-bottom: -21px; }

.main_width6 {
  width: 100% !important;
  max-width: 1600px !important;
  position: relative;
  margin-top: -10px;
  padding-left: 3% !important; }

.title_text__main_web_view {
  width: 100%;
  max-width: 1000px;
  margin-top: 111px; }

.title_text__view2 {
  font-family: "BRITANIC", sans-serif;
  color: #eeb828;
  font-size: 70px;
  position: relative;
  margin-top: -62px; }

.title_text__view3 {
  font-family: "Bahnschrift", sans-serif;
  color: #deddd7;
  font-size: 46px;
  position: relative;
  top: -30px;
  margin-bottom: -21px; }
