@import url(https://fonts.googleapis.com/css?family=Quicksand);
html,
body {
  height: 100%;
  background-color: #333;
  font-family: 'Quicksand', sans-serif;
  color: white; }

.b-a, .bar, .bar:before, .bar:after {
  -webkit-transition: all .25s;
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95); }

.menu_background {
  width: 100%;
  background-color: #323436; }

.menu-collapsed {
  -webkit-transition: all .25s;
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 12;
  width: 98%;
  /*  background-color: #323436;
/*  opacity: 0.5; */
  /* background-color: rgba(50, 52, 54, 0.7);*/
  cursor: pointer; }
  .menu-collapsed ul {
    -webkit-transition: all 0s;
    transition: all 0s;
    position: fixed;
    left: -9000px; }

.bar {
  position: fixed;
  left: 12px;
  top: 24px; }
  .bar:before {
    top: -8px; }
  .bar:after {
    top: 8px; }

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  -webkit-transition: all .25s;
  transition: all .25s;
  top: -0px; }

.menu-expanded {
  -webkit-transition: all .25s;
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(23, 22, 23, 0.85); }
  .menu-expanded ul {
    -webkit-transition: all 0s;
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2; }
  .menu-expanded a {
    -webkit-transition: all .15s;
    transition: all .15s;
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: #eeb828;
    display: block;
    font-family: "BRITANIC"; }
    .menu-expanded a:hover {
      background-color: #eeb828;
      -webkit-transition: all .15s;
      transition: all .15s;
      letter-spacing: 2px;
      color: #333;
      border: 1px solid rgba(255, 255, 255, 0.15); }
  .menu-expanded .bar {
    background-color: transparent;
    -webkit-transition: all .25s;
    transition: all .25s;
    z-index: 3; }
    .menu-expanded .bar:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-expanded .bar:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.row {
  padding-top: 150px; }

h1 {
  font-size: 3em; }

h3 {
  color: #999; }

p {
  line-height: 160%;
  letter-spacing: 1px; }
